<div class="container-fluid">
    <search-box filters="$ctrl.filters"></search-box>

    <hr/>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Auteur</th>
            <th>Référence</th>
            <th>Texte</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="work in $ctrl.works" ng-click="$ctrl.setSelectedWork(work)">
            <td>{{ work.author }}</td>
            <td>{{ work.reference }}</td>
            <td>{{ work.latinText || work.frenchText | limitTo: 50 }}...</td>
            <td><button type="button" ng-click="$ctrl.filterByReference(work)"
                        class="btn btn-sm btn-default">Imitations</button></td>
        </tr>
        </tbody>
    </table>
</div>

<text-display work="$ctrl.selectedWork"></text-display>