<div class="container-fluid">
    <search-box filters="$ctrl.filters">
        <span ng-bind="$ctrl.statusMessage"></span>
    </search-box>

    <hr/>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Auteur</th>
            <th>Référence</th>
            <th>Texte</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="work in $ctrl.works">
            <td ng-click="$ctrl.setSelectedWork(work)" ng-bind="work.author"></td>
            <td ng-click="$ctrl.setSelectedWork(work)" ng-bind="work.reference"></td>
            <td ng-click="$ctrl.setSelectedWork(work)">{{ work.latinText || work.frenchText | limitTo: 50 }}...</td>
            <td><a type="button"
                   ng-click="$ctrl.filterByReference(work)"
                   ng-if="work.author === 'Martial'"
                   class="btn btn-sm btn-default">Imitations</a></td>
        </tr>
        </tbody>
    </table>
</div>

<text-display ng-if="$ctrl.selectedWork"
              work="$ctrl.selectedWork"
              on-delete="$ctrl.selectedWork = null">
</text-display>