<div class="row">
    <div class="col-sm-6 form-horizontal">
        <div class="form-group">
            <label for="author-input" class="col-sm-3 control-label">Auteur</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="author-input" ng-model="$ctrl.work.author"/>
            </div>
        </div>
        <div class="form-group">
            <label for="title-input" class="col-sm-3 control-label">Titre</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="title-input" ng-model="$ctrl.work.title"/>
            </div>
        </div>
        <div class="form-group">
            <label for="reference-input" class="col-sm-3 control-label">Référence</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="reference-input" ng-model="$ctrl.work.reference"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Origine</label>
            <div class="col-sm-9">
                <div ng-if="$ctrl.work.originId" class="btn-group" role="group">
                    <a type="button" class="btn btn-danger" ng-click="$ctrl.removeOrigin()">
                        <span class="glyphicon glyphicon-remove"></span>
                        <a type="button" class="btn btn-default" ng-click="$ctrl.changeOrigin()">
                            <span ng-bind="$ctrl.originReference"></span>
                        </a>
                    </a>
                </div>
                <div ng-if="!$ctrl.work.originId" class="btn-group" role="group">
                    <a type="button" class="btn btn-default" ng-click="$ctrl.changeOrigin()">
                        Sélectionner une oeuvre
                    </a>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="addressee-input" class="col-sm-3 control-label">Destinataire</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="addressee-input" ng-model="$ctrl.work.addressee"/>
            </div>
        </div>
        <div class="form-group">
            <label for="date-input" class="col-sm-3 control-label">Date</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="date-input" ng-model="$ctrl.work.date"/>
            </div>
        </div>
    </div>
    <div class="col-sm-6 form-horizontal">
        <div class="form-group">
            <label for="meter-input" class="col-sm-3 control-label">Mètre</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="meter-input" ng-model="$ctrl.work.meter"/>
            </div>
        </div>
        <div class="form-group">
            <label for="stanza-input" class="col-sm-3 control-label">Strophe</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="stanza-input" ng-model="$ctrl.work.stanza"/>
            </div>
        </div>
        <list-input elements="$ctrl.work.vices" placeholder="Ajouter un vice" label="Vices"></list-input>
        <list-input elements="$ctrl.work.tags" placeholder="Ajouter un tag" label="Tags"></list-input>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <label for="latin-textarea">Texte latin</label>
        <textarea ng-model="$ctrl.work.latinText" id="latin-textarea" class="form-control text-edit"></textarea>
    </div>
    <div class="col-sm-6">
        <label for="french-textarea">Texte français</label>
        <textarea ng-model="$ctrl.work.frenchText" id="french-textarea" class="form-control text-edit"></textarea>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <label for="notes">Notes</label>
    </div>
    <div class="col-sm-12">
        <textarea ng-model="$ctrl.work.notes" id="notes" class="form-control text-edit"></textarea>
    </div>
</div>
