<div class="container-fluid">
    <search-box filters="$ctrl.filters" on-update="$ctrl.refreshFilters()" phrase-filter="$ctrl.phraseFilter">
    </search-box>

    <hr/>

    <h5>{{ $ctrl.works.length }} résultats</h5>

    <table class="table table-striped" id="search-results" infinite-scroll="$ctrl.onInfiniteScroll()">
        <thead>
        <tr>
            <th>Auteur</th>
            <th>Référence</th>
            <th>Texte</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="work in $ctrl.displayedWorks track by work._id">
            <td ng-click="$ctrl.onSelect({work})">{{ ::work.author }}</td>
            <td ng-click="$ctrl.onSelect({work})">{{ ::work.reference }}</td>
            <td ng-click="$ctrl.onSelect({work})">
                {{ work.latinText || work.frenchText | incipit: 50 }}
            </td>
            <td>
                <a type="button"
                   ng-click="$ctrl.onAction({work})"
                   class="btn btn-sm btn-default" ng-bind="$ctrl.action"></a>
                <a type="button"
                   ng-click="$ctrl.filterByReference(work)"
                   ng-if="$ctrl.hasReferences[work._id]"
                   class="btn btn-sm btn-info">Imitations</a>
            </td>
        </tr>
        </tbody>
    </table>
    <h5 class="works-status" ng-if="!$ctrl.works.length" ng-bind="$ctrl.statusMessage"></h5>
</div>
