<div class="row">
    <div class="col-sm-2 filter-cell-left">
        <select class="form-control input-sm"
                ng-options="field.id as field.name for field in $ctrl.fields track by field.id"
                ng-model="$ctrl.filter.field"></select>
    </div>
    <div class="col-sm-2 filter-cell-center">
        <select class="form-control input-sm"
                ng-options="matcher.id as matcher.name
                            for matcher in $ctrl.getMatchers($ctrl.filter.field)
                            track by matcher.id"
                ng-model="$ctrl.filter.matcher"></select>
    </div>
    <div class="col-sm-7 filter-cell-center">
        <input class="form-control input-sm" ng-model="$ctrl.filter.term" />
    </div>
    <div class="col-sm-1 filter-cell-right">
        <button type="button" class="btn btn-sm btn-danger" ng-click="$ctrl.onDelete()">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
    </div>
</div>