<div class="row filter-row">
    <div class="col-sm-2 filter-cell-left">
        <select class="form-control input-sm"
                ng-model="$ctrl.filter.field">
            <option value="" disabled>Champ</option>
            <option ng-repeat="field in $ctrl.fields" value="{{ field.id }}">{{ field.name }}</option>
        </select>
    </div>
    <div class="col-sm-2 filter-cell-center">
        <select class="form-control input-sm"
                ng-model="$ctrl.filter.matcher">
            <option value="" disabled>Sélecteur</option>
            <option ng-repeat="matcher in $ctrl.getMatchers($ctrl.filter.field)"
                    value="{{ matcher.id }}">
                {{ matcher.name }}
            </option>
        </select>
    </div>
    <div class="col-sm-8 filter-cell-right">
        <input class="form-control input-sm" ng-model="$ctrl.filter.term"
               placeholder="Terme à rechercher" />
        <a type="button" class="btn btn-sm btn-danger" ng-click="$ctrl.onDelete()">
            <span class="glyphicon glyphicon-remove"></span>
        </a>
    </div>
</div>