<div class="row">
    <div class="col-sm-2">
        <select class="form-control"
                ng-options="field.id as field.name for field in $ctrl.fields track by field.id"
                ng-model="$ctrl.filter.field"></select>
    </div>
    <div class="col-sm-2">
        <select class="form-control"
                ng-options="matcher.id as matcher.name
                            for matcher in $ctrl.getMatchers($ctrl.filter.field)
                            track by matcher.id"
                ng-model="$ctrl.filter.matcher"></select>
    </div>
    <div class="col-sm-7">
        <input class="form-control" ng-model="$ctrl.filter.term" />
    </div>
    <div class="col-sm-1">
        <button type="button" class="btn btn-danger" ng-click="onDelete()">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
    </div>
</div>