<div class="container-fluid">

    <div class="row">
        <div class="col-sm-12">
            <a type="button" class="btn btn-default" href="#!/search">
                <span class="glyphicon glyphicon-chevron-left"></span>
                Retour
            </a>
        </div>
    </div>

    <h3>Éditer</h3>
    <div class="row">
        <div class="col-sm-6 form-horizontal">
            <div class="form-group">
                <label for="author-input" class="col-sm-3 control-label">Auteur</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="author-input" ng-model="$ctrl.work.author"/>
                </div>
            </div>
            <div class="form-group">
                <label for="title-input" class="col-sm-3 control-label">Titre</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="title-input" ng-model="$ctrl.work.title"/>
                </div>
            </div>
            <div class="form-group">
                <label for="reference-input" class="col-sm-3 control-label">Référence</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="reference-input" ng-model="$ctrl.work.reference"/>
                </div>
            </div>
            <div class="form-group">
                <label for="origin-input" class="col-sm-3 control-label">Origine</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="origin-input" ng-model="$ctrl.originReference" disabled/>
                </div>
            </div>
            <div class="form-group">
                <label for="date-input" class="col-sm-3 control-label">Date</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="date-input" ng-model="$ctrl.work.date"/>
                </div>
            </div>
        </div>
        <div class="col-sm-6 form-horizontal">
            <div class="form-group">
                <label for="meter-input" class="col-sm-3 control-label">Mètre</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="meter-input" ng-model="$ctrl.work.meter"/>
                </div>
            </div>
            <div class="form-group">
                <label for="stanza-input" class="col-sm-3 control-label">Strophe</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="stanza-input" ng-model="$ctrl.work.stanza"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Vices</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control vice-input" ng-repeat="vice in $ctrl.work.vices" ng-model="vice" disabled/>
                    <input type="text" class="form-control" ng-hide="$ctrl.work.vices.length" value="(Aucun)" disabled/>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <label for="latin-textarea">Texte latin</label>
            <textarea ng-model="$ctrl.work.latinText" id="latin-textarea" class="form-control text-edit"></textarea>
        </div>
        <div class="col-sm-6">
            <label for="french-textarea">Texte français</label>
            <textarea ng-model="$ctrl.work.frenchText" id="french-textarea" class="form-control text-edit"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 edit-submit">
            <a type="button" class="btn btn-default" href="#!/search">Annuler</a>
            <a type="button" class="btn btn-success" ng-click="$ctrl.saveWork()">Enregistrer</a>
        </div>
    </div>
</div>