search-filter {
  .filter-row {
    margin-bottom: 10px;
  }

  .filter-cell-left {
    padding-right: 5px;
  }

  .filter-cell-center {
    padding-right: 5px;
    padding-left: 5px;
  }

  .filter-cell-right {
    padding-left: 5px;
    display: flex;

    a.btn {
       margin-left: 10px;
    }
  }

  .flex-fill {
    flex-grow: 1;
  }
}
