<h3>Recherche:
    <button type="button"
            class="btn btn-sm btn-success"
            ng-click="$ctrl.addFilter()">
        <span class="glyphicon glyphicon-plus"></span>
        Filtre
    </button>
    <button type="button"
            class="btn btn-sm btn-default"
            ng-click="$ctrl.reset()">
        <span class="glyphicon glyphicon-refresh"></span>
        Réinitialiser
    </button>
</h3>

<div ng-repeat="filter in $ctrl.filters">
    <search-filter filter="filter" on-delete="$ctrl.deleteFilter($index)"></search-filter>
</div>

<input class="form-control keyword-filter" placeholder="Rechercher par mot-clé"/>