.filter-row {
    margin-bottom: 10px;
}

.filter-cell-left {
    padding-right: 5px;
}

.filter-cell-center {
    padding-right: 5px;
    padding-left: 5px;
}

.filter-cell-right {
    padding-left: 5px;
    display: flex;
}

.filter-cell-right a.btn {
    margin-left: 10px;
}

.keyword-filter {
    margin-top: 20px;
}

.work-display-header {
    height: 40px;
    line-height: 40px;
    border-top: 1px solid lightgrey;
    display: flex;
    cursor: default;
}

.work-display-caret {
    width: 40px;
    text-align: center;
}

.work-display {
    border-top: 1px solid lightgrey;
    max-height: 70vh;
    overflow: auto;
}

.work-display-reference {
    flex-grow: 1;
}

.text-well {
    white-space: pre-line;
}

.works-status {
    text-align: center;
}

.flex-fill {
    flex-grow: 1;
}

work-display {
    box-shadow: 10px 10px 5px #888888;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: white;
    overflow: scroll;
}

footer {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 60px;
    width: 100%;
    background-color: #f5f5f5;
    color: #777777;
}

#search-results tr {
    height: 40px;
}

#search-results td {
    vertical-align: middle;
}

.text-edit {
    min-height: 300px;
}

.edit-submit {
    margin-top: 20px;
    text-align: center;
}

.vice-input {
    margin-bottom: 10px;
}

.gray-text {
    color: gray;
}

.vices-list {
    list-style-type: none;
    padding-left: 0;
    column-count: 2;
}

.vices-list li {
    margin-bottom: 10px;
}

.work-selector-modal .modal-dialog {
    width: 90%;
}

.work-attribute-label {
    font-weight: bold;
}

.empty-text {
    color: lightgray;
    font-style: italic;
}
