.filter-row {
    margin-bottom: 10px;
}

.filter-cell-left {
    padding-right: 5px;
}

.filter-cell-center {
    padding-right: 5px;
    padding-left: 5px;
}

.filter-cell-right {
    padding-left: 5px;
    display: flex;
}

.filter-cell-right a.btn {
    margin-left: 10px;
}

.keyword-filter {
    margin-top: 20px;
}

.text-display-header {
    height: 40px;
    line-height: 40px;
    border-top: 1px solid lightgrey;
    display: flex;
    cursor: default;
}

.text-display-caret {
    width: 40px;
    text-align: center;
}

.text-display {
    border-top: 1px solid lightgrey;
    max-height: 70vh;
    overflow: auto;
}

.text-display-reference {
    flex-grow: 1;
}

.text-well {
    white-space: pre-line;
}

.works-status {
    text-align: center;
}

text-display {
    box-shadow: 10px 10px 5px #888888;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: white;
    overflow: scroll;
}