<p>Hi!</p>
<button md-raised-button color="primary">Raised button</button>

<md-list>
  <md-list-item fxLayout="column">
    <div class="md-list-text" fxFlex="30">
      <h3>Martial</h3>
      <p>De Spectaculis, 7</p>
    </div>
    <div fxFlex="60">Some text text text text text</div>
    <div fxFlex="10"><button md-raised-button>Actions</button></div>
  </md-list-item>
  <md-list-item>
    <div flex>
      <h4>Martial</h4>
      <p>De Spectaculis, 3</p>
    </div>
    <div flex>Some text text text text text</div>
    <div flex><button md-raised-button>Actions</button></div>
  </md-list-item>
  <md-list-item>
    <div flex>
      <h4>Martial</h4>
      <p>De Spectaculis, 3</p>
    </div>
    <div flex>Some text text text text text</div>
    <div flex><button md-raised-button>Actions</button></div>
  </md-list-item>
  <md-list-item>
    <div flex>
      <h4>Martial</h4>
      <p>De Spectaculis, 3</p>
    </div>
    <div flex>Some text text text text text</div>
    <div flex><button md-raised-button>Actions</button></div>
  </md-list-item>
  <md-list-item>
    <div flex>
      <h4>Martial</h4>
      <p>De Spectaculis, 3</p>
    </div>
    <div flex>Some text text text text text</div>
    <div flex><button md-raised-button>Actions</button></div>
  </md-list-item>
  <md-list-item>
    <div flex>
      <h4>Martial</h4>
      <p>De Spectaculis, 3</p>
    </div>
    <div flex>Some text text text text text</div>
    <div flex><button md-raised-button>Actions</button></div>
  </md-list-item>
</md-list>
<md-grid-list cols="4">
  <md-grid-tile>
    <h4>Martial</h4>
    <p>De Spectaculis, 3</p>
  </md-grid-tile>
  <md-grid-tile colspan="2">Some text text text text text</md-grid-tile>
  <md-grid-tile><button md-raised-button>Actions</button></md-grid-tile>
    <md-grid-tile>
    <h4 md-line>Martial</h4>
    <p md-line>De Spectaculis, 3</p>
  </md-grid-tile>
  <md-grid-tile colspan="2">Some text text text text text</md-grid-tile>
  <md-grid-tile><button md-raised-button>Actions</button></md-grid-tile>
    <md-grid-tile>
    <h4 md-line>Martial</h4>
    <p md-line>De Spectaculis, 3</p>
  </md-grid-tile>
  <md-grid-tile colspan="2">Some text text text text text</md-grid-tile>
  <md-grid-tile><button md-raised-button>Actions</button></md-grid-tile>
</md-grid-list>
