<div class="container">
    <h3>Démarrage de l'application</h3>

    <ul>
        <li ng-repeat="message in $ctrl.messages" ng-bind="message"></li>
    </ul>
    <download-progress
            ng-show="$ctrl.showProgress"
            achieved="$ctrl.downloadProgress.achieved"
            total="$ctrl.downloadProgress.total">
    </download-progress>

    <div ng-if="$ctrl.hasErrored">
        <div class="alert alert-danger">
            L'application n'est pas en mesure de démarrer normalement.
        </div>
    </div>

    <div ng-if="$ctrl.isReady">
        <a href="#!/search" type="button" class="btn btn-success">Démarrer maintenant</a>
    </div>

</div>