<div class="text-display-header container-fluid" ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed">
    <div class="text-display-caret">
        <span class="glyphicon"
              ng-class="{'glyphicon-chevron-down': !$ctrl.isCollapsed, 'glyphicon-chevron-up': $ctrl.isCollapsed}">
        </span>
    </div>
    <p class="text-display-reference">
        <strong ng-bind="$ctrl.work.author"></strong> - <span ng-bind="$ctrl.work.reference"></span>
    </p>
    <div class="text-display-caret" ng-click="$ctrl.onDelete()">
        <span class="glyphicon glyphicon-remove"></span>
    </div>
</div>
<div class="text-display container-fluid" uib-collapse="$ctrl.isCollapsed">
    <div class="row">
        <div class="col-sm-6">
            <h5>Texte latin</h5>
            <div class="well text-well" ng-bind="$ctrl.work.latinText"></div>
        </div>
        <div class="col-sm-6">
            <h5>Texte français</h5>
            <div class="well text-well" ng-bind="$ctrl.work.frenchText"></div>
        </div>
    </div>
</div>
