<div class="container-fluid">
    <h3>Paramètres</h3>

    <h5>Réinitialiser la base de données
        <a type="button"
           class="btn btn-sm btn-success"
           ng-click="$ctrl.downloadDatabase()"
           ng-disabled="$ctrl.downloadProgress.inProgress">
            Lancer</a>
    </h5>

    <p>Cette action efface la base de données locale et la remplace par la base de référence sur Internet.
    <strong>Tout changement sera perdu.</strong></p>
    <ul>
        <li ng-repeat="message in $ctrl.downloadStatus" ng-bind="message"></li>
    </ul>
    <download-progress
            ng-if="$ctrl.downloadProgress.showProgress"
            achieved="$ctrl.downloadProgress.achieved"
            total="$ctrl.downloadProgress.total">
    </download-progress>


</div>
