<div class="work-display-header container-fluid">
    <div class="work-display-caret" ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed">
        <span class="glyphicon"
              ng-class="$ctrl.isCollapsed && 'glyphicon-chevron-up' || 'glyphicon-chevron-down'">
        </span>
    </div>
    <p class="work-display-reference" ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed">
        <strong ng-bind="$ctrl.work.author"></strong>
        <span ng-if="$ctrl.work.reference">
            - <span ng-bind="$ctrl.work.reference"></span>
        </span>
        <span ng-if="$ctrl.work.title">
            - <span ng-bind="$ctrl.work.title"></span>
        </span>

        <small ng-if="$ctrl.referenceWork" class="gray-text">
            (inspiré de
            <strong ng-bind="$ctrl.referenceWork.author"></strong>
            <span ng-if="$ctrl.referenceWork.reference">
                - <span ng-bind="$ctrl.referenceWork.reference"></span></span>)
        </small>
    </p>
    <div>
        <a type="buton"
            class="btn btn-sm btn-warning"
            ng-bind="$ctrl.display === 'meta' && 'Texte' || 'Attributs'"
            ng-click="$ctrl.toggleDisplay()">
            </a>
    </div>
    <div class="work-display-caret" ng-click="$ctrl.onDelete()">
        <span class="glyphicon glyphicon-remove"></span>
    </div>
</div>
<div class="work-display container-fluid" uib-collapse="$ctrl.isCollapsed">
    <div class="row" ng-show="$ctrl.display === 'text'">
        <div class="col-sm-6">
            <text-display work="$ctrl.work" reference-work="$ctrl.referenceWork" target-version="reference-latin"></text-display>
        </div>
        <div class="col-sm-6">
            <text-display work="$ctrl.work" reference-work="$ctrl.referenceWork" target-version="french"></text-display>
        </div>
    </div>
    <div ng-show="$ctrl.display === 'meta'">
        <h4>Attributs</h4>
        <div class="row">
            <div class="col-sm-6">
                <work-attribute name="Auteur" value="$ctrl.work.author"></work-attribute>
                <work-attribute name="Titre" value="$ctrl.work.title"></work-attribute>
                <work-attribute name="Référence" value="$ctrl.work.reference"></work-attribute>
                <work-attribute ng-if="$ctrl.referenceWork" name="Origine"
                    value="$ctrl.referenceWork.author + ', ' + $ctrl.referenceWork.reference"></work-attribute>
                <work-attribute name="Destinataire" value="$ctrl.work.addressee"></work-attribute>
                <work-attribute name="Date" value="$ctrl.work.date"></work-attribute>
            </div>
            <div class="col-sm-6">
                <work-attribute name="Mètre" value="$ctrl.work.meter"></work-attribute>
                <work-attribute name="Strophe" value="$ctrl.work.stanza"></work-attribute>
                <work-attribute name="Vices" value="$ctrl.work.vices"></work-attribute>
                <work-attribute name="Tags" value="$ctrl.work.tags"></work-attribute>
                <work-attribute name="Notes" value="$ctrl.work.notes"></work-attribute>
            </div>
        </div>
    </div>
</div>
