work-display {
  box-shadow: 10px 10px 5px #888888;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
  overflow: scroll;

  .work-display-header {
    height: 40px;
    line-height: 40px;
    border-top: 1px solid lightgrey;
    display: flex;
    cursor: default;
  }

  .work-display-caret {
    width: 40px;
    text-align: center;
  }

  .work-display {
    border-top: 1px solid lightgrey;
    max-height: 70vh;
    overflow: auto;
  }

  .work-display-reference {
    flex-grow: 1;
  }
}
