<div class="container-fluid">

    <div class="row">
        <div class="col-sm-12">
            <a type="button" class="btn btn-default" href="#!/search">
                <span class="glyphicon glyphicon-chevron-left"></span>
                Retour
            </a>
        </div>
    </div>

    <h3>Ajouter</h3>
    <work-editor work="$ctrl.work" ng-if="$ctrl.work"></work-editor>
    <div class="row">
        <div class="col-sm-12 edit-submit">
            <a type="button" class="btn btn-default" href="#!/search">Annuler</a>
            <a type="button" class="btn btn-success" ng-click="$ctrl.saveWork()">Enregistrer</a>
        </div>
    </div>
</div>